[2018-11-15 19:57] joshfarrant opened #1 "Improve generated documentation"
The generated docs currently just about do the job, but they're far from perfect.

It would be nice to have the docs generated from the Typescript types, rather than having to markup the code with jsdoc comments, which often just duplicate the information given in the typings. I'd be interested to see how other Typescript libraries handle generated documentation.

Also, the current theme being use

[2018-11-15 20:02] joshfarrant opened #2 "Create more interesting examples"
There's currently a single example Shortcut in the README, however it would be nice to have a few more examples showcasing what Shortcuts-js can do, as well as showing some of the more interesting/useful actions.

One of the benefits of building our Shortcuts with JS is that it's possible to create Shortcuts that would be hugely time-consuming or tedious to create with the drag-and-drop interface

[2018-11-15 20:06] joshfarrant opened #3 "Find a way to track Actions to be implemented"
Up to this point I've just picked actions almost at random and implemented them. It would be nice to have a more structured way of tracking actions which are yet to be implemented.

Is there a nicer way to do this than just having a huge checklist the README or an issue?

[2018-11-15 20:18] joshfarrant opened #4 "Add a script which can import a .shortcut file and generate JS from it"
It could be useful to essentially do the reverse of what Shortcuts-js currently does, and generate JavaScript from an imported .shortcut file.

This could be useful to help people get started with the library and start modifying their existing Shortcuts.

We'd have to find a way to add a placeholder (maybe a comment action?) if a specific action isn't yet implemented in Shortcuts-js.

[2018-11-16 15:55] joshstrange commented on #3
This problem gets bigger when you consider 3rd party apps that provide shortcuts. Maybe a folder inside of the actions folder for each app id (and use com.apple.comething) for all the base iOS actions. Then add a readme to each folder that you can put a checklist in. That way people can easier add to the checklist (without necessarily adding the code to support the action) and other people (or the

[2018-11-16 18:21] joshfarrant commented on #3
That sounds like a nice way to handle it. I might add a couple of example 3rd party app directories to see what this could look like.

[2018-11-16 20:16] ThomasDeLange commented on #3
Maybe a GitHub project? Where you can drag an drop from to do -> in progress -> done

[2018-11-19 08:17] joshfarrant commented on #3
@ThomasDeLange Are you thinking about a Kanban board sort of layout and, if so, does GitHub support that? I know GitLab has a 'board' view for its issues which essentially does what you've described.

The in progress step might not be necessary too, as it could often be difficult to know when something is in progress. Also, new actions will probably only take ~15 minutes to be implemented, so they

[2018-11-19 09:14] joshfarrant opened #6 "All Actions to be implemented"
This is an up-to-date list of all actions Shortcuts JS will eventually implement. Actions which have already been implemented will be ticked off as they are added.

For the moment, the list includes all Actions in the 'Scripting' list and 'Content Types' section from the Shortcuts app. There are a few Actions from 3rd party apps in those sections, so they have been included here too. **Any request

[2018-11-19 17:39] joshfarrant commented on #3
I've opened #6 for now, as it's useful to at least have a place to track this for now. We'll see how that goes for just the default actions.

[2018-11-20 13:13] xAlien95 commented on #4
How should the .js file be generated? Should this library/module be able to convert .shortcut to .js without data loss (i.e. having the obtained .js file to build exactly - except for magic variables UUIDs - the same imported .shortcut file)?

[2018-11-20 13:34] ThomasDeLange commented on #3
@joshfarrant Yes, indeed something like a Kaban board. Next to pull requests you can go to projects and add a project. For example one for actions and a few for big third-party apps. Everything in done is included and everything in to do has yet to be implemented.

[2018-11-20 13:35] joshfarrant commented on #4
Yes, that's what I'm envisaging. As you said; in an ideal world you'd be able to take a .shortcut, convert it to JS, then back to a .shortcut. The two .shortcut files should be completely identical.

[2018-11-20 13:39] ThomasDeLange commented on #3
<img width="939" alt="image" src="https://user-images.githubusercontent.com/33953384/48777094-f3f46400-ecd1-11e8-814a-87849af21301.png">
@joshfarrant something like this? You can even automate it with issues mabye that's to much😂

[2018-11-20 13:47] joshfarrant commented on #3
Oh cool, TIL! I'll have a look into this, thanks @ThomasDeLange.

[2018-11-20 16:49] Archez commented on #4
I'm currently looking into defining serialized constants for `ask` `clipboard` `input`. These constants would bypass the string check, and allow them to be used directly.

[2018-11-20 18:32] xAlien95 commented on #4
My suggestion is to remove the UUID creation in `withUUID`, rename `withUUID` to `withActionOutput` and create an `actionOutput` help function:

[code]

[code]

This is currently the best approach I can think of, which results in a slightly different way to write the code.

Before you had:

[code]

While now you have:

[code]

In this way the user has to define (and create) the action output _befo

[2018-11-20 18:53] AlexGustafsson opened #9 "Using variables in actions"
Inspired by this, I'm currently working on a JavaScript to iOS shortcuts transpiler. I've gotten most of the parsing done and I'm now working on the transpiler portion of the project. My intention is to utilize this library since I really appreciate the effort you have put in it and what shape it's taking.

One question comes to mind however, how are variables handled? Most actions on iOS are able

[2018-11-20 20:47] xAlien95 commented on #9
At the moment, you can only use magic variables (action outputs) in strings and it's done via JS template strings and the `withVariables` tag function: take a look to [Minimal Example](https://github.com/joshfarrant/shortcuts-js#minimal-example) to see how it works.

[code]

Pull request #8 adds support for actual variables too, but it's not currently merged.
Future releases may slightly change ho

[2018-11-20 21:38] joshfarrant commented on #9
Exactly right, thanks @xAlien95.

We’re still pre v1, and there were a few things that I’d not considered when designing the current implementation of variables. Because of this, things might well change in the future. There’s a bit more discussion around this topic in #4.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-11-22 17:29] xAlien95 opened #10 "Distinguish `ask()` action to `ask` global variable"
I'm in the process of presenting a fork in which variables (named variables, magic variables and global variables (Ask, Clipboard, CurrentDate and ExtensionInput)) are objects instead of strings. In my local repository, I wrote:

[code]

Using lowerCamelCase, an `ask` global variable would conflict with the `ask()` action function, so I ended up distinguishing them using CapitalCamelCase for varia

[2018-11-22 19:01] groenewaldd opened #11 "Fluent Builder Interface"
I was thinking, it might be useful to apply a builder pattern to allow for a fluent interface that creates simple shortcuts?

[code]
It may not be useful for all cases but certainly some.

Unfortunately, manually maintaining a single class supporting every action being added over time wouldn't be favourable.

Thus, inspired some solutions discussed [here](https://stackoverflow.com/questions/452916

[2018-11-22 19:49] Archez commented on #10
I've also been thinking this out in my head. For the naming of the global variables, remember that the contribution guide suggests the display name from the shortcuts app itself (in english). My approach is quite similar to yours, but with a couple differences as described below:

[code]

Here I pulled the `formatSerialization` function from `getVariable` as a util function and made adjustments.

[2018-11-22 20:21] xAlien95 commented on #10
`askWhenRun` and `shortcutInput` look way better.

I see, boolean values in dictionaries currently support WFTextTokenAttachments.

If `formatSerialization` won't be used anywhere else, could it be renamed to `variable(name: string)` to become the equivalent of `actionOutput()`/`magicVariable()` for named variables? This way users will have to always use those functions to initialize variables and

[2018-11-22 20:38] Archez commented on #10
In that scenario where we have `variable()`, do you think 'withVariables` should still have the ability to take in 'strings' (producing the named variable), or enforce that all named variables have to be made? I think I like the latter, as it locks things down making sure the user has one intention. Similarly we can lock down `setVariable/addToVariable` to take in `WFSerialization` instead of 'str

[2018-11-22 20:53] joshfarrant commented on #1
This is currently in progress, I'm looking at TypeDoc as a possible solution.

[2018-11-22 20:53] xAlien95 commented on #10
That's exactly what I did. It will remove every check/test and it will make it easier to write the shortcut2js converter (#4) later on.

Using WFSerialization as base, the `getVariable` action just becomes:

[code]

[2018-11-22 20:53] joshfarrant commented on #2
A few more were have been added to the README, but the more examples the better really. Open to suggestions on interesting/useful examples, especially as more and more actions are made available.

[2018-11-22 21:20] joshfarrant commented on #10
@Archez I'd tend to agree with you in leaning towards the latter. Having `withVariables` take in strings for named variables can end up in somewhat counterintuitive code.

[code]

Could very easily be assumed to be equal to

[code]

Which is clearly is not.

Initialising the named variables beforehand, while it will add a bit more boilerplate, will make the code easier to understand, and the user'

[2018-11-22 21:30] joshfarrant commented on #10
Fantastic! Me too @xAlien95! 🧞‍♂️

[2018-11-22 21:59] joshfarrant commented on #11
It's really an interesting idea! The current method for building a Shortcut (as an array of functions) is by no means the way it has to be done forever, so it's interesting to see options for other ways it could be done. This isn't something I'd considered before now, but it's very cool to see - Thanks so much for putting it forward!

To be honest I've been thinking about something similar, but us

[2018-11-22 23:20] xAlien95 commented on #10
I pushed it to [my fork](https://github.com/xAlien95/shortcuts-js), you can see and try it there.

@joshfarrant, do I have to split `/src/utils/variables.ts` in multiple files?
`variable()` and `actionOutput()` can be considered as util functions so it would make sense to store them in two separate files, but how should the global variables constants be stored in your opinion?

@Archez, should I u

[2018-11-23 04:53] Archez commented on #10
If we do not use the `WFSerialization` approach, then any action that can take in a `WFTextTokenAttachment` (e.g. number), would have to be responsible for ensuring that the proper serialization step is taken. On the other hand, if we take the `WFSerialization` approach, then actions do not have to know the difference between a regular variable and a `withVariables` serialized object, allowing the

[2018-11-23 04:59] Archez commented on #11
Since Shortcuts can also take a tree path, instead of linear, (e.g. if/else, chooseMenu), I can foresee a chained/builder approach not being an elegant solution.

[2018-11-23 06:32] joshfarrant commented on #11
Good point. This is something I was thinking about before I implemented if/else and chooseFromMenu, so it made a bit more sense then. The addition of those actions does make it a bit more complicated.

[2018-11-23 22:41] xAlien95 commented on #10
@Archez, I'm not familiar with TypeScript, but if we use the `WFSerialization` approach we may need to always specify that the `.Value` property is a `SerializationValue`. TypeScript automatically assumes it's a `string` although it can have multiple types.

I split `../interfaces/WF/WFSerialization.ts` in two files and I updated `withActionOutput.ts` (rebased version of `withUUID.ts`) like this:

[2018-11-25 02:32] gcordalis opened #15 "Add icon color/glyph parameters"
I'm not familiar with typescript and was hoping to create a PR that allows additional parameters to be passed with the buildShortcut function to allow custom icon color/glyph.

I've tested this with the package when it's been built and it works well.

My idea of the implementation is to pass an object `shortcutIcon` with `color` and `glyph` as keys within the object.

This parameter would be used

[2018-11-25 08:18] joshfarrant commented on #10
That's strange, it shouldn't prefer one type over any other, as far as I know.

As I'm sure you've seen, the WFSerialization interface is defined [here](https://github.com/joshfarrant/shortcuts-js/blob/master/src/interfaces/WF/WFSerialization.ts#L19), and it's Value should expect a SerializationValue.

This is the first TypeScript project I've built from the ground up, so there may well be a bette

[2018-11-25 08:35] joshfarrant commented on #10
variable() and actionOutput() can be considered as util functions so it would make sense to store them in two separate files, but how should the global variables constants be stored in your opinion?

I'd say have `variable` and `actionOutput` in their own files.

I'm wondering whether it might make sense to have another directory, `src/variables`, to store everything related to variables. Or maybe

[2018-11-25 08:53] joshfarrant commented on #15
Hey @gcordalis, sounds like a great idea!

My only suggestion would be have an `options` object, rather than an `shortcutIcon` object, as in the future we might want to add additional configurable options (import questions, input types, etc).

Maybe then, your example could be as follows:

[code]

The other thing to consider is how the user will actually select their icon/colour. We'll likely need

[2018-11-25 17:56] gcordalis commented on #15
Options sounds great and definitely adds flexibility down the road.

I’ve got all the colours stored, working on glyphs today (hopefully getting the names and codes isn’t a pain) then I’ll have a crack at the TS side again.

[2018-11-25 18:07] xAlien95 commented on #15
It shouldn't be if you know [where to look](https://i.redd.it/4fzicovc89y11.png).

[2018-11-25 19:58] joshfarrant commented on #15
Fantastic! 🎉

[2018-11-25 20:01] joshfarrant commented on #10
@xAlien95 `.with()` sounds interesting. I've not looked into the `Aggrandizements` property at all - is that essentially casting the type to a phone number then (in your example)?

I agree about renaming the issue, please go ahead 🙂

[2018-11-25 20:36] xAlien95 commented on #10
@joshfarrant yes (although a phone number cast does nothing at all, it just returns the number as a string since the number type doesn't have properties).

If you set a Text action with "Today at 9:00 am" and then you insert its output magic variable to be considered as a Date, you'll get the same time string you get typing "Today at 9:00 am" in the Date action. `Aggrandizements` can be avoided an

[2018-11-28 13:16] joshfarrant commented on #1
Closing this for now, as 0fc1f7f6 has improved things greatly.

[2018-11-28 13:16] #1 closed

[2018-11-28 13:17] joshfarrant commented on #3
I'm going to close this, as #6 is working quite well at the moment.

[2018-11-28 13:17] #3 closed

[2018-11-28 13:18] #9 closed

[2018-11-28 13:18] #11 closed

[2018-11-29 19:39] gcordalis opened #20 "setBrightness action doesn't work"
The setBrightness action doesn't assign the correct value type for shortcuts to handle.

Shortcuts-JS assigns a value type of `<integer>` where the native Shortcuts App assigns `<real>`.

Here is an example of the generated shortcut file using Shortcuts-JS:

[code]

And this from the native Shortcuts App:

[code]

Building a shortcut using the below code sets the brightness to 100 when loaded into

[2018-11-29 20:42] joshfarrant commented on #20
Good spot, thanks. Hopefully `bplist-creator` supports `<real>`s, if so it should be an easy fix.

I’ll take a look in the morning (if no-one else wants to in the meantime).

[2018-11-29 22:19] avery12 opened #22 "Development Requirement"
I'm not an Apple guy other than Ipad  and phone. What are you guys using for development - computer models and software? I've messed around with node.js - can this stuff be done on a windows machine?
How would the shortcut get back to the Ipad- phone.
Thanks

[2018-11-29 22:50] xAlien95 commented on #22
Hi @avery12, a Mac is not required to build Shortcuts with Shortcuts JS. You can try to reinstall NodeJS from [here](https://nodejs.org/en/) if your current installation has some issues.

To start using this module, create a folder on your Windows PC, open Terminal in that folder and write
[code]
This will create a `/node_modules` subfolder. In the main folder, create an `index.js` file with this

[2018-11-29 23:44] bachya commented on #22
I'm getting going on development, as well. To understand: doesn't `npm install @joshfarrant/shortcuts-js` install the module from the global NPM repository? Or, since in this case one would be sitting in the root of the cloned repo, does the local code get installed? Would I want to install the local module so that, as I make changes, I can test them immediately?

(sorry for 3 questions in a row 😆

[2018-11-30 07:42] joshfarrant commented on #20
Thanks for the fix 👍

[2018-11-30 07:42] #20 closed

[2018-11-30 07:57] joshfarrant commented on #22
That's right - an `npm install` will always pull the latest published version (which could be a bit behind `master`) from npm.

It is possible to 'install' a package from a directory on your machine using [npm link](https://docs.npmjs.com/cli/link), although I've always found this to be a pain and generally avoid it.

The way I've been testing throughout development is by just adding a file named

[2018-11-30 16:03] joshfarrant opened #26 "Decide on rules for naming Actions"
CONTRIBUTING.md currently states

This works fine for the majority of actions, however it's not perfect when naming actions with upper case words in the name, eg `SSH` and `URL`.

We might want to consider tweaking the rule to allow for action names to keep upper-case strings as upper-case. The table below shows some examples of this.

Action Name | Proposed | Current
--- | --- | ---
Get Contents

[2018-11-30 18:02] bachya commented on #22
@joshfarrant Makes total sense; glad to see my ad-hoc learning wasn't way off base. Really appreciate you taking the time to help me get up to speed.

[2018-11-30 18:08] joshfarrant commented on #22
@bachya No problem at all - more than happy to help!

[2018-12-01 13:00] xAlien95 commented on #6
@joshfarrant, just a small update: in Actions > Device, "Set Mobile Data" should be "Set Cellular Data" now 🙂 ([#24](https://github.com/joshfarrant/shortcuts-js/pull/24#issuecomment-443260787))

[2018-12-01 18:12] joshfarrant commented on #6
@xAlien95 🤘

[2018-12-02 14:49] xAlien95 commented on #10
@joshfarrant, step 2 of the variable implementation is live in [my fork's variable-class branch](https://github.com/xAlien95/shortcuts-js/tree/variable-class).

- Rebased variables on `WFSerialization`
- Added `Variable class` with a `.with()` method for Aggrandizements
- Added first implementation of some `Aggrandizement` types
- Added PascalCase variable/class name validation in the linter (#26)

[2018-12-03 08:48] joshfarrant opened #39 "Decide how to handle 3rd party actions"
We need to decide how best to store and expose actions from 3rd party apps.

#37 Adds support for Pythonista actions, and it would be good to start as we mean to go on with regards to these actions.

This has briefly been discussed before ([here](https://github.com/joshfarrant/shortcuts-js/issues/3#issuecomment-439437548)) but it would be good to get more feedback on the correct approach to take.

[2018-12-03 18:13] gcordalis commented on #39
I think what @xAlien95 has suggested sounds great.

We’ll need to be mindful about naming as some apps will be very similar...

As an example here are 2 of the Carrot apps:

Carrot⁵ (Carrot Weather)
Carrot³ (Carrot Fit)

[2018-12-03 20:23] gcordalis opened #41 "Calculate - Scientific Operation Doesn't Work"
Upon testing the Scientific Operation in the Calculate action I've discovered that the correct shortcut format isn't being generated.

A standard Calculate action has 2 properties, `WFMathOperand` and `WFMathOperation`.
When using a Scientific Operation a 3rd property is used `WFScientificMathOperation`.

When using a Scientific Operation with Shortcuts-JS the `WFMathOperation` property is being r

[2018-12-03 22:39] xAlien95 commented on #41
@gcordalis, great find! 😃

I did some researches and I found that there's also a `WFScientificMathOperand` property.
I pulled a fix in #42.

[2018-12-03 22:46] bachya commented on #39
I like the explicit namespacing of @xAlien95's solution, as well.

[2018-12-04 07:12] joshfarrant commented on #39
I do like that this is quite a clean solution. My only concern with this is that it introduces the possibility of collisions between action names and app names. It’s not unreasonable to think that there could be an app called `calculate` or `list`, in which case what would

[code]

actually import?

Do we just have to make special cases for those and set the app name as `listApp`?

[2018-12-04 07:37] joshfarrant commented on #22
I'm going to close this for now, feel free to add any further questions and I'll reopen 👍

[2018-12-04 07:37] #22 closed

[2018-12-04 07:37] joshfarrant commented on #41
Good spot, thanks @gcordalis!

[2018-12-04 08:35] gcordalis commented on #39
Prefacing each app action group with app[appName] could be a good way to do this. From a folder structure POV it would keep them all together too rather than spread between the native actions in alphabetical order (for the most part)

[2018-12-04 17:17] joshfarrant commented on #41
Fixed in #42.

[2018-12-04 17:17] #41 closed

[2018-12-04 17:24] joshfarrant opened #44 "Document new options parameter for buildShortcut function"
#16 added support for an optional `options` parameter to the `buildShortcut` function.

Currently, the supported options are:

[code]

Currently, this functionality isn't documented anywhere. It would be useful to add some information about this feature (along with an example) to the README.

Additionally, we could improve the [typedoc documentation comments](https://github.com/joshfarrant/shortcu

[2018-12-04 17:41] joshfarrant opened #45 "Assign names to the available Shortcut icon glyphs"
#16 added support for specifying the icon glyph of a generated Shortcut, however there's currently no easy way to choose an icon without having to refer to other sources to find the code for your icon of choice.

It would be nice if the user could just do something like

[code]

Here, the user accesses a glyph using a readable name, `KEYBOARD`, rather than using `E836`, as it is at the moment.

Th

[2018-12-04 17:43] joshfarrant commented on #15
Closing this as the main feature discussed here has been implemented. Further discussion can either be done in its own issue, or in #45 if relevant. 🙂

[2018-12-04 17:43] #15 closed

[2018-12-04 17:52] joshfarrant commented on #10
@xAlien95 Looks fantastic, great work. Can't wait to see the PR, feel free to submit whenever you're ready.

This is very exciting. Everything else is coming along well, so I might start taking a look into ways to approach that soon.

[2018-12-04 18:19] joshfarrant opened #46 "What is there to do before v1?"
There's been a lot going on with Shortcuts JS since launch, the vast majority of which has been thanks to work done by our Contributors, so massive thanks to @pietropizzi, @Archez, @DanielRuf, @xAlien95, @gcordalis, @JB1905, @bachya, and @ikaikastine. 🎉

With so much going on, I thought it could be useful to try to consolidate all of the tasks that will need to be completed before we can consider

[2018-12-04 19:56] gcordalis commented on #41
Just a note for anyone using this in the action.

`...` doesn't work, you need to use `…`
`\u2026` instead of `\u002e\u002e\u002e`

[2018-12-04 20:17] xAlien95 commented on #46
Few days ago I created a local branch with some customization to the default/minimal theme of TypeDoc ([TypeStrong/typedoc-default-themes](https://github.com/TypeStrong/typedoc-default-themes)). I didn't thought to look for an exported/compiled JSON output at all.. that would be more than great: that would be awesome.

There's a problem with the current TypeDoc implementation: it cannot specify wh

[2018-12-05 19:59] gcordalis commented on #46
We also need to take a look at `Show in Widget` and `Show in Share Sheet`.

At the moment all shortcuts default to `Show in Widget = true` and having the option to customise these would be great.

[2018-12-05 20:08] gcordalis commented on #6
'Set Mobile/Cellular Data' appears to vary depending on device language.

I have my device languages set to `English (UK)` and it shows as `Set Mobile Data`. Changing language to `English (US)` changes it to `Set Cellular Data`.

Also, with the update to 2.1.2 today there is a new action to add to the list!
`Post to Tumblr`

[2018-12-07 08:51] joshfarrant commented on #39
What about an apps directory in `src/actions`? You could then do something like:

[code]

We could then also expose an `apps` variable in the default actions export.

[code]

People can then use whichever method they prefer.

[2018-12-07 09:51] joshfarrant commented on #6
30% of the way there! 🎉

[2018-12-07 15:15] xAlien95 commented on #39
A user cannot really distinguish a "third-party" action from a "first-party" action, since this attribute isn't explicitly specified in the Shortcuts app.
Do third-party actions refer to those actions that do not have an identifier starting with `'is.workflow.actions.'`?

As an example, the Post on Facebook action is a first-party action although it refers to a third-party app, and this may led to

[2018-12-12 21:02] xAlien95 commented on #6
@joshfarrant, Date and Format Date actions have been added in #47 🙂

[2018-12-12 21:06] xAlien95 commented on #26
@joshfarrant, since #47 has been merged, now all the action function names can be replaced with the proposed ones. In that pull request I added PascalCased variable name validation in `tslint.json` (that was required for the private `Variable` class).

[2018-12-12 21:31] joshfarrant commented on #26
@xAlien95 I spotted that in your PR and was wondering if it would do the trick. I'm happy with that then, I'll go through and make the adjustments now.

[2018-12-12 21:34] joshfarrant commented on #26
The naming of `showInItunesStore` still makes me kind of sad to look at. Would `showInITunesStore` be better? And if so should `runJavascriptOnWebPage` be `runJavaScriptOnWebPage`?

[2018-12-12 22:01] xAlien95 commented on #26
`showInITunesStore` looks better.

The original shown name is "Run JavaScript on Web Page" if I recall correctly, so `runJavaScriptOnWebPage` should be the right one.

[2018-12-12 22:21] joshfarrant commented on #26
Cool, I’ll adjust those too then.

[2018-12-13 09:40] xAlien95 commented on #4
@joshfarrant, do you want to start working on the parser on your own?

I didn't wrote anything exhaustive, but I have a few features that the parser should have:

- call it `buildScript`, in line with the existing `buildShortcut`
- place it in `/utils`, or `/utils/script` if the functions will be too many
- define a `Script` interface to be passed and filled by each function, in which there will b

[2018-12-13 20:45] gcordalis opened #54 "showInMaps Action does not include options for 3rd party providers"
The Show in Maps actions provides the option to select Apple Maps, Google Maps or Waze if more than one service is installed on the device.

The current implementation only supports the default option, Apple Maps.

`options` need to be added to the action, `/interfaces/WF/WFMapsApps` should be created with `Apple Maps, Google Maps and Waze` as options.

[2018-12-16 21:15] gcordalis commented on #54
Thanks @JB1905

[2018-12-18 07:51] #54 closed

[2018-12-18 21:41] natehouk commented on #6
❤️

[2018-12-25 01:17] xAlien95 commented on #6
Some minor errors I've found while working on the documentation:

- "Scripting" > "Choose From Menu" section should be named "Control Flow"
- "Scripting" > "Device" > "Set Value" action should be named "Set Volume"
- There's an "a" missing in "Apps" > "App Store" > "Get Detils of App Store App"
- "Photos & Video" > "Editing" > "Markup" has already been implemented by @JB1905, that action is repeat

[2018-12-25 10:42] joshfarrant commented on #6
Thanks! I’ll fix these tomorrow 👍

[2018-12-26 13:48] xAlien95 commented on #45
Names for almost all the Shortcut icon glyphs have been assigned, you can see the full list here: [xalien95 :: docs/components/Metadata/gist.js](https://github.com/xAlien95/shortcuts-js/blob/master/docs/components/Metadata/gist.js). The following glyphs have to be named, I would have suggestions on them since I'm not a native English speaker 🙂

![Missing glyph names](https://user-images.githubuser

[2018-12-28 08:10] joshfarrant commented on #45
Great work!

I've got a few of my suggestions here. I compared a few of these to Font Awesome and took the name from there, in some places. Those have been marked with (FA).

#### Objects

3. `BINOCALARS`
4. `HDD` (FA)
5. `SERVER` (FA)
6. `DATABASE` (FA)
7. ?
8. Is it a `SPEAKER`?
9. Could maybe be `BOOKMARK` but I see that's used elsewhere, and I agree with the other use more. Don't know what to

[2018-12-28 13:13] xAlien95 commented on #6
@joshfarrant, "Set Volume" 👍

[2018-12-28 13:14] joshfarrant commented on #6
🤦‍♂️🤦‍♂️🤦‍♂️

[2018-12-28 18:49] xAlien95 commented on #45
I started editing `gist.js` based on your suggestions. I found some recurrences:

- if we call `CLOUDY` as `CLOUD`, there's already a `CLOUD` at line 262
- if we call `VIDEOCAM` as `VIDEO`, there's already a `VIDEO` at line 34

Could we call the last glyph in People section as `OLD_MAN` or something similar?

Also, I based these names on the [ionicons](https://ionicons.com/cheatsheet.html) icons,

[2019-01-06 14:41] JB1905 commented on #6
"Set volume" is duplicated (is visible as Device and Playback action) and it has already been implemented by @ikaikastine.

[2019-01-07 07:47] joshfarrant commented on #6
@JB1905 thanks!

[2019-01-08 03:58] pash90 opened #75 "Health Actions"
I just forked this repo and have started working on built-in actions for the Health app. I read it afterwards that I was supposed to create an issue for it first.

Can I go forward with it?

Related to #6

[2019-01-09 06:38] joshfarrant commented on #75
No problem, go ahead! Thanks @pash90

[2019-01-17 07:00] jaivalz opened #79 "ImportQuestion"
Great job!

Is there a chance to add the ImportQuestion option?

Thank you!

[2019-01-20 17:31] xAlien95 commented on #44
I inserted some information about this feature in my work in progress documentation fork. You can edit its temporary contents here: [@xAlien95:docs :: Documentation/Metadata/ShortcutIcon/content.md](https://github.com/xAlien95/shortcuts-js/blob/docs/docs/src/components/Documentation/Metadata/ShortcutIcon/content.md).

<img src="https://user-images.githubusercontent.com/4611392/51441939-5f10e580-1c

[2019-01-22 10:57] joshfarrant commented on #79
Hey @jaivalz ! It’s on the roadmap, but I can’t say exactly when this will be added. Keep an eye on this issue for updates 👍

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-23 10:17] jaivalz commented on #79
Thank you very much for your anser! It would be a great way to make easier the sharing procedure.
Thank you! :smile:

[2019-01-27 23:30] xAlien95 commented on #6
- "Calendar" > "Clock" > "Create Alarm" has been implemented by @jakebathman in #55
- there's a misspelling in "Sharing" > "WhatsApp" > "Send Mesage via WhatsApp"
- "Photos & Video" > "Lightroom" > "Import to Lightroom" is available again, it should be added to the list

[2019-02-02 17:43] pfgithub opened #88 "List of every action in shortcuts and their parameters"
- [ ] These actions aren't already listed in the 'All Actions to be implemented' issue [here](https://github.com/joshfarrant/shortcuts-js/issues/6).
- [ ] These actions haven't already been requested in another issue.

This json file contains information about every default action in shortcuts 2.2, it was extracted from the shortcuts app by xAlien95 on discord.

JSON file: https://pastebin.com/raw

[2019-02-02 17:57] joshfarrant commented on #88
This is really interesting, thanks for posting and thanks @xAlien95 for extracting it. Going to have a play around with it now.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-02 18:32] joshfarrant opened #89 "Improve contribution guide"
The contribution guide assumes some knowledge of the node ecosystem, which can be a barrier to those who’ve not worked with node and npm before. It could be useful to add a bit of information to the guide on how to install/build/run the project locally.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-03 00:33] xAlien95 commented on #88
Small misspelling, it's 2.1.2.

That's true, you can search for "so wow" and the Text action will show up 😆

[2019-02-03 16:00] joshfarrant commented on #39
Finally made a decision on this and went with @xAlien95's initial decision. See #37 for the exact implementation.

[2019-02-03 16:00] #39 closed

[2019-02-03 16:03] joshfarrant commented on #6
Sorted!

[2019-02-03 17:17] #26 closed

[2019-02-03 19:46] xAlien95 commented on #6
@joshfarrant, there's probably an extra space in "Import to Lightroom" since the checkmark markdown in off.
Then I think (hope) everything will be in place 😁

[2019-02-08 09:41] joshfarrant commented on #4
I've been making some progress on this over the last few days. Currently, the process looks something like this:

[code]

Outputs:

[code]

This `Script` object can then be used to generate code in whatever format the user likes. It's heavily based on @xAlien95's suggestion above, with the small modification that the `metadata.glyph` and `metadata.color` properties are both strings with the name o

[2019-02-08 09:55] xAlien95 commented on #4
@joshfarrant, it's better to place TypeDoc comments on default values:

[code]

This is the only way to get default values from TypeDoc. Correct value types can be extracted from the `Options` interface.

[2019-02-08 10:16] joshfarrant commented on #4
👌

[2019-02-08 20:07] joshfarrant commented on #4
I’ve pushed to the [script-generator](https://github.com/joshfarrant/shortcuts-js/tree/script-generator) branch with my changes so far. As I said, this is far from done and I’m open to feedback/questions on any decisions.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 07:43] #45 closed

[2019-02-24 11:20] imnotyours opened #119 "ChooseFromMenu not defined"
/usr/local/bin/node /Users/useraccount/Library/Preferences/WebStorm2018.3/scratches/scratch.js
/Users/useraccount/Library/Preferences/WebStorm2018.3/scratches/scratch.js:19
const actions = [
                ^

ReferenceError: chooseFromMenu is not defined
    at Object.<anonymous> (/Users/useraccount/Library/Preferences/WebStorm2018.3/scratches/scratch.js:19:17)
    at Module._compile (internal/mo

[2019-02-24 11:25] joshfarrant commented on #119
Could you please post the code you're using? I've just tried locally and it's working for me.

[2019-02-24 11:26] xAlien95 commented on #119
Hi @imnotyours, have you imported `chooseFromMenu` before using it? Make sure you have the following at top:

[code]

If you already imported it correctly, can you share a script that doesn't work?

[2019-02-27 08:56] joshfarrant commented on #119
I'm going to close this for now, if you can replicate the issue feel free to post the code here and we can take a look 😃

[2019-02-27 08:56] #119 closed

[2019-03-06 19:50] JoeCodeswell commented on #6
@joshfarrant Thanks for this. Any idea when send SMS will be available. That would help me a lot. Thanks again.
Love and peace,
Joe

[2019-03-07 12:34] rowellx68 commented on #6
@joshfarrant the Contributing Guide link on this issue points to an old location.

[2019-03-07 13:09] joshfarrant commented on #6
Good spot, thanks @rowellx68 - fixed now 👍

@JoeCodeswell I'll take a look at that for you, no guarantee on timeframe but it'll be the next thing I do

[2019-06-28 10:42] sarimarton opened #217 "iOS 13 Beta does not support Shortcut imports through AirDrop"
I guess that's it then? :(

[2019-07-01 07:49] joshfarrant commented on #217
We'll have to wait and see what happens in the full release. I did [post on r/shortcuts](https://old.reddit.com/r/shortcuts/comments/byyfk0/import_shortcut_from_file_has_been_removed_icloud/) a few weeks ago but didn't really find a good solution. I'd be interested to know if there is a workaround at the moment.

[2019-07-17 06:54] sayem314 commented on #6
Waiting for repeat with each action :smile:

[2019-07-22 08:57] bluesign commented on #6
I am thinking those definitions can be auto generated, anyone tried that before? Otherwise I will try to jump into it.

[2019-07-22 09:24] joshfarrant commented on #6
@bluesign I'm not sure if it's been looked into before, but if it's possible it would be a big help. If you want to take a look then please do feel free, and let me know if I can help at all.

[2019-07-22 17:22] bluesign commented on #6
@joshfarrant, I finished the first part with dumping possible actions, I am using iOS 13, so there are total 335 actions there, with 83 different parameter types.

Also there are some constraints on values to provide (WFCommentActionText cannot accept user input or variable for example) or like some functions are available only iPad etc.

I think it is totally possible to generate js class files f

[2019-08-25 17:32] PSalant726 opened #257 "Color and glyphs are not available"
When attempting to set the color and glyph of a shortcut icon, a `TypeError` is thrown:
[code]

[code]

[2019-08-26 09:01] joshfarrant commented on #257
Hi @PSalant726. I’m on mobile at the moment so I can’t test this, but it appears that the issue is caused by importing `COLORS` and `GLYPHS`, neither of which are directly exported from `/meta`.

An `ICONS` object is exported (as a named export) from `/meta`, which itself has the `COLORS` and `GLYPHS` properties.

So, to fix this, try changing your import to:

[code]

Hopefully that will work for

[2019-08-26 19:56] joshfarrant commented on #257
Thank you, I guessed there would be some incorrect documentation somewhere!

Sorry about that, I’ll get that fixed 👍

[2019-09-17 12:12] seregaren opened #274 "РЫ"
- [ ] These actions aren't already listed in the 'All Actions to be implemented' issue [here](https://github.com/joshfarrant/shortcuts-js/issues/6).
- [ ] These actions haven't already been requested in another issue.
- [ ] Fill out the information below, deleting the examples in italics.

**What is the name of the app these actions are a part of?**
_Bear_

**Is this a free or paid app?**
_Free_

[2019-10-12 08:11] jane00 opened #286 "Is it possible to port the "shortcuts" app to Android？ Parsing the file format and Implement the action."
There is NO app on Android can do this.

And there are already many useful .shortcut very useful.

[2019-11-17 23:25] mtpereira commented on #217
Hi,

Apparently someone created a Siri Shortcut to import other Shortcuts from iCloud: https://www.icloud.com/shortcuts/f9acfff2a5e94138a6574498d22c2813 (source: https://www.reddit.com/r/shortcuts/comments/d738kr/ios13_importing_shortcuts_as_files_is_not/f2ngi2e/ )

I haven't tried it yet, I'll let you know once I do.

[2019-11-18 04:38] n33kos commented on #217
It looks like if you make an iCloud link out of the shortcut, you can import it by visiting the link in safari. I have verified this works, but you also need to go to security settings and enable "Allow Untrusted Shortcuts".

I haven't checked out the contents of the shortcut mtpereira posted but I assume it's just running `Get File > Get Link To File`. This worked for me 👍

[2019-11-18 05:04] n33kos opened #308 "Speak Text"
- [ ] These actions aren't already listed in the 'All Actions to be implemented' issue [here](https://github.com/joshfarrant/shortcuts-js/issues/6).
- [x] These actions haven't already been requested in another issue.
- [x] Fill out the information below, deleting the examples in italics.

**What is the name of the app these actions are a part of?**
_Shortcuts_

**Is this a free or paid app?**
_Fr

[2019-11-18 06:37] n33kos commented on #308
I'm working on implementing `speakText` and the docs said to bring it up in conversation here first. I'll have a PR up fairly soon, still need to see if I can find definitions for a few types it uses.

[2019-11-18 07:27] mtpereira commented on #217
It’s basically that, yes. It picks a file from iCloud, gets a link to it and opens it on Safari under a `workflow://shortcuts` URL.

[2019-11-18 07:36] n33kos commented on #308
https://github.com/joshfarrant/shortcuts-js/pull/311

[2019-11-18 14:18] mtpereira commented on #75
Hello @pash90,

I was just about to start working on the same actions, so maybe we could collaborate on this! :)
What's your progress on this? Where can I pick it up from?

Thank you! :bowing_man:

[2019-11-18 16:18] mtpereira commented on #217
On a similar note, does anyone know how to export a Shortcut to a file on iOS 13? All I can get are iCloud links, and for that reason I can't follow the "contributing" instructions. :disappointed:

[2019-11-18 18:41] n33kos commented on #217
@mtpereira Im in the exact same situation, I haven’t found a way to send the shortcut over as a file instead of an “add shortcut” page.

I happened to find an output file in this comment:  https://github.com/joshfarrant/shortcuts-js/issues/6#issuecomment-513875797  which helped me find out what variables the action was expecting, but I’m not sure if that is the same output as the parsing function

[2019-11-19 12:02] joshfarrant commented on #217
This still works, as far as I can tell:

https://www.icloud.com/shortcuts/b7cf16f2de72470ab165f80c23efeb5a

It essentially just saves the shortcut as a file in iCloud, allowing you to then send it to yourself. I'm sure that shortcut could be improved to actually handle the sending of the file too. Once you've got it, stick it in the `/shortcuts` directory of the project and run `node scripts/parse

[2019-11-19 12:04] joshfarrant commented on #6
@bluesign It's been a while, but is there any chance you could give me a quick rundown of how you pulled that data from the simulator? I'd be interested in grabbing the latest data and seeing if I can generate some code from it.

[2019-11-19 12:37] xAlien95 commented on #6
@joshfarrant, you can get the WFActions.plist following @pfgithub's guide at [here](https://github.com/pfgithub/scpl/blob/5db36dbfd7b4ffa547bbb0be0318c4da40473004/src/Data/ActionDataTypes/Strings/gen.md).

[2019-11-19 14:04] mtpereira commented on #217
@joshfarrant To clarify my setup, my only iOS device is an iPhone, I'm developing on a Linux workstation.

So the way that I'm trying to get the Shortcut onto my workstation is by sharing it on my iPhone via Dropbox. The file that ends-up on Dropbox is actually and HTML file, and not a .shortcut file.

When I open an URL like the one you've shared on my workstation, it redirects me to the App Stor

[2019-11-19 18:32] joshfarrant commented on #217
@mtpereira Ok, makes sense. Could you try opening that iCloud link I posted on your iPhone and importing the shortcut please. You'll get the following:

![image](https://user-images.githubusercontent.com/6840861/69174884-9704d700-0afa-11ea-870f-9cf34d3a97c6.png)

That Shortcut will save your selected Shortcuts to iCloud Drive. You can then open the Files app on your iPhone, find the saved Shortcut

[2019-11-19 18:40] mtpereira commented on #217
@joshfarrant Oh I didn't understood that the Shortcut you had shared was actually to help me out on exporting them! :sweat_smile:

The procedure you've explained works great! :smile: :tada:

Thanks for the help! :bowing_man:

[2019-11-19 19:13] joshfarrant commented on #308
Merged and published!

[2019-11-19 19:13] #308 closed

[2019-11-19 19:15] joshfarrant commented on #286
I'm afraid it's unlikely. In theory someone could create an app for Android which accepts and parses .shortcut files, then maps the functionality onto Android system functions, but I can't see anyone doing that if I'm honest.

[2019-11-19 19:15] #286 closed

[2019-11-20 07:42] joshfarrant commented on #217
No problem, glad that worked! 😄

[2019-12-24 00:21] pvinis opened #331 "Better Contribution flow"
I tried adding an action. Here is what I had difficulties with, maybe it could be a point of possible improvement.

- [ ] `npm test` is ran on every commit
This causes the commits to take forever to happen. The tests should be ran ideally on the PR, not per commit.

- [ ] `interfaces/WF` and `interfaces/WF/WFWorkflowActionParameters.ts` need some docs and coordination.
I had trouble understanding

[2020-03-14 14:28] hellomsg commented on #6
how to grab(mark as I will implement it) a Action before implement it?

[2020-03-14 14:37] hellomsg commented on #6
I will implement Replace Text Action. Please mark it.

[2020-03-14 15:12] hellomsg opened #411 "Add Replace Text Action"
- [ ] These actions aren't already listed in the 'All Actions to be implemented' issue [here](https://github.com/joshfarrant/shortcuts-js/issues/6).
- [x] These actions haven't already been requested in another issue.
- [ ] Fill out the information below, deleting the examples in italics.

**What is the name of the app these actions are a part of?**
_Shortcuts_

**Is this a free or paid app?**
_Fr

[2020-03-17 06:21] hellomsg opened #413 "Add Change Case Action"
- [ ] These actions aren't already listed in the 'All Actions to be implemented' issue [here](https://github.com/joshfarrant/shortcuts-js/issues/6).
- [x] These actions haven't already been requested in another issue.
- [ ] Fill out the information below, deleting the examples in italics.

**What is the name of the app these actions are a part of?**
_Shortcuts_

**Is this a free or paid app?**
_Fr

[2020-03-17 06:22] #413 closed

[2020-05-09 08:50] kawarimidoll opened #458 "Error in REDME"
I found an error in "Shortcut folder creator" in README.md.

[code]

I think this part should be below:
[code]

[2020-06-02 07:46] rlb222 commented on #217
I added email support to the shortcut. See:
https://www.icloud.com/shortcuts/f779cc6b5367419c9acddb43221e313a

[2020-07-01 06:44] pcr910303 commented on #217
OK, so AFAIK iOS 14 b1 re-adds importing `.shortcut` files 👍

[2020-07-08 00:03] a2 commented on #217
@pcr910303 iOS 14 b2 seems to have removed this? 😢

[2020-10-20 17:16] landoncolburn opened #537 "Hacktoberfest Opt-in"
Hacktober-fest is opt-in for repos now, can we add the 'hacktoberfest' topic to the repo?

[2020-10-24 22:17] the8tre commented on #217
Shortcuts can still be exported through the 'Backup Shortcuts To iCloud' shortcut:
https://www.icloud.com/shortcuts/f779cc6b5367419c9acddb43221e313a
(It now seems that the output is a xml plist instead of the previous bplist)

Shortcuts files can be imported with the 'Create iCloud Link' shortcut avaible here:
https://www.icloud.com/shortcuts/2dd8928b5e9a437ea893868f707aa6f3

Open the generated li

[2020-10-25 10:05] the8tre opened #541 "Shortcut parser needs to support both binary bplist and xml plist"
Format of shorcuts exported to iCloud seems to no longer be binary bplist.
It is now XML plist:
[code]
scripts/parse.js needs to be updated to support both formats.

[2020-10-25 16:52] joshfarrant commented on #537
Appreciate the offer, but not this year I'm afraid.

[2020-10-25 16:52] #537 closed

[2021-02-01 09:22] save-social opened #589 "Creating ShortCut URL in iCloud"
Hi

I have an idea but I don't know if its possible.

You can export a ShortCut as an iCloud Link from the ShortCut App so others can use the ShortCut.

Your simply send them the link and they can tap to install. The problem is, its generic not personalised to the user.

We want to open a customised url.

Using a Mac as a server is it possible to create an iCloud Link for a Personalised ShortCut t

[2021-02-05 17:31] scrutinizer11 opened #592 "How do I get started?"
I unzipped the archive. Now what? How do I compile it? **Readme** just contains code examples without specifying what to do with the contents. Usually, you compile and install. How's it different in this case?

[2021-02-05 19:05] joshfarrant commented on #592
Hi @scrutinizer11, this is a JavaScript library and can only be interacted with using JavaScript. Typically you'd install it from npm then import/require shortcuts-js from within your code base.

Unless you're writing JS you'll struggle to use the library.

[2021-02-24 20:05] jtwebb opened #608 "Add getFile Action"
- [ ] These actions aren't already listed in the 'All Actions to be implemented' issue [here](https://github.com/joshfarrant/shortcuts-js/issues/6).
- [x] These actions haven't already been requested in another issue.
- [x] Fill out the information below, deleting the examples in italics.

**What is the name of the app these actions are a part of?**
Shortcuts

**Is this a free or paid app?**
Free

[2021-03-02 11:55] #608 closed

[2021-04-10 16:57] hacknorris-notyetbanned opened #632 "broken documentation"
so yes - documentation page in shortcuts.fun generally works. But why most ( most important) tabs in that page throw out error 404? it means - tabs with : usage, build options, very many links under actions tab, reference, generally - all bolded text on sidebar and these broken links under actions.
Btw. When site will be finished?

[2021-07-21 23:03] Soneji commented on #4
This could be an amazing feature! I'd love to see this in action as I think both JavaScript and Apple's editor are amazing tools, each with their own advantages. I think it's a lot easier to code large JSON objects and a lot easier to search + drag and drop to find the exact action you need.

I'd love to be able to convert from shortcut to js and back easily!

Is there any update for merging this

[2021-08-17 19:39] joshfarrant opened #683 "Looking for new maintainers 💖"
As anyone who's opened an issue or PR to this repo in the last year (or probably more) has realised, I've really not been giving Shortcuts JS the attention it needs or deserves.

I put a huge amount of time into this project over the course of the first year and a bit. Building out the initial proof-of-concept was fantastic fun and I genuinely believe that reverse engineering the .shortcut file an

[2021-11-13 18:47] Allenfang314 opened #686 "Json shortcut"

[2021-11-15 07:55] #686 closed, assigned to nobody

[2021-12-02 02:47] SuePB59 opened #687 "Getting Shortcuts to "tap" items on the screen"
I need to create shortcuts that will interact with elements on the screen of an app. For example if there is a menu icon I'd want the shortcut to "tap" that and then to "tap" a specific item on the menu. Is there no way to identify a location on the screen to touch? This can be done with the Accessibility>Voice Control>Show Grid if you are giving voice commands, so why isn't there a way to script

[2022-03-27 06:52] derekxmartin commented on #683
Are you still looking for maintainers? I'd love to take this on and help.

[2022-03-31 20:28] derekxmartin commented on #683
Following up here, I guess I can fork if I don't hear back :) @joshfarrant

[2022-03-31 20:52] joshfarrant commented on #683
Sorry for not replying sooner @derekmartinjs - life with a newborn is hectic atm!

Short answer - that would be awesome 💚 let's set up a chat 🙂

[2022-04-03 03:51] derekxmartin commented on #683
That would be awesome. I just reviewed the python version and it all makes sense now. I would like to get a chunk of remaining actions completed.

[2022-04-08 14:44] joshfarrant commented on #683
@derekmartinjs forgot to mention - I emailed you to the address on your GH profile.

Just a heads up in case it went to spam 🙂

[2022-04-17 04:05] TristanBarrow commented on #683
Hi, I just found this project. I'd love to look more into it and maybe contribute some. LMK if you want to chat.

[2022-07-10 15:13] jamesdaily opened #699 "Chrome warns about usage of navigator.userAgent, navigator.appVersion, and navigator.platform"
Chrome 103 on Windows warns about Shortcuts.js's usage of navigator.userAgent, navigator.appVersion, and navigator.platform:

https://blog.chromium.org/2021/09/user-agent-reduction-origin-trial-and-dates.html

Discovered when using "[create-react-app](https://create-react-app.dev/)".

![image](https://user-images.githubusercontent.com/987389/178150807-3a8f4d4d-f1ee-4d74-925e-fcd8b1ff3815.png)

[2022-07-10 19:30] joshfarrant commented on #699
Thanks for letting me know. I'm not really sure where this is coming from as Shortcuts JS doesn't do anything with the navigator object. I can only imagine it's coming from one of the dependencies. Are you able to dig any deeper into the warning to see the call stack and find where exactly the warning comes from?

[2022-07-10 19:31] joshfarrant commented on #687
The short answer is that if you can do it with the Shortcuts app you can (in theory) do it with Shortcuts JS. If you can't, then it's a no-go I'm afraid.

[2022-07-10 19:31] #687 closed, assigned to nobody

[2022-07-10 19:32] joshfarrant commented on #683
I completely missed this, sorry @TristanBarrow! Are you still interested?

[2022-07-10 19:32] #592 closed

[2022-07-11 04:50] derekxmartin commented on #683
i still want in toi 😀 Sent from Proton Mail for iOS Le dimanche 10 juillet 2022 à 12:32 PM, Josh Farrant ***@***.***> a écrit :
I completely missed this, sorry @TristanBarrow! Are you still interested?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-10-03 22:13] achen-novacoast commented on #683
Hi, I'd love to contribute to your project. Let me know if you have some time to chat

[2022-10-03 22:15] AnthonyChen00 commented on #683
Hi, I'd love to contribute to this project. I have been getting frustrated with the ios touch screen shortcut builder and think this project is such a cool alternative.

[2022-10-03 22:48] derekxmartin commented on #683
absolutely! want to get on a zoom and chat this week?

Sent from Proton Mail for iOS

On Mon, Jul 11, 2022 at 12:50 AM, Derek Martin ***@***.***> wrote:

[2022-10-03 23:10] AnthonyChen00 commented on #683
Are you the new maintainer?

[2022-10-03 23:11] derekxmartin commented on #683
Yes

Sent from Proton Mail for iOS

On Mon, Oct 3, 2022 at 7:10 PM, Anthony Chen ***@***.***> wrote:

[2022-10-04 07:25] joshfarrant commented on #683
🤔

I did [email you Derek](https://github.com/joshfarrant/shortcuts-js/issues/683#issuecomment-1092938133) but I didn't get a response.

@AnthonyChen00 - Derek isn't a maintainer of the project. Not quite sure where he's got that idea from as the only communication I've had with him is within this issue!

Of course please do feel free to contribute Anthony 🎉 I'll do my best to help out and take a

[2022-10-04 15:13] AnthonyChen00 commented on #683
Thanks for clarifying, I was sketched out. I'd love to contribute as much as i could. Maybe down to road once i am more familiar with the codebase, I'd love to help maintain it as well. This would be my first open source project.

[2022-10-04 19:23] derekxmartin commented on #683
In any case I’d love to contribute. Sorry josh for not replying I did not see it.

Sent from Proton Mail for iOS

On Tue, Oct 4, 2022 at 3:25 AM, Josh Farrant ***@***.***> wrote: